apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# commonLabels:
#   app.xgeeks.org/team: idp_geekathon
#   backstage.io/kubernetes-id: shellai

namespace: idpkathon-dev
# namespace: shellai-idp_geekathon-dev

resources:
- ../../base
- ingress.yaml

  # ATENTION name = image.name NOT name = spec.containers[0].name
images:
- name: ghcr.io/xgeeks-geekathon/shellai
  newTag: 810916e
- name: ghcr.io/xgeeks-geekathon/shellai-datafeeder
  newTag: 810916e
